@font-face{
    font-family: 'NanumB';
    src: url('fonts/NanumBarunGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'NanumS';
    src: url('fonts/NanumSquareRoundB.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ridi';
    src: url('fonts/RIDIBatang.otf');
}

:root{
    --background: #f9ecdb;
    --white: #fff;
    --grey: #c2c2c2;
    --brownText: #BCAA9C;
    --section: #BCAA9C;
    --collapsible: #D2C2B3;
    --overlay: #846d62;
    --imgborder: #846d62;
    --icon: rgb(228, 228, 228);
    --resume: #897367;
    --resumehov: #9D897C;
    --text: #000;
    --buttonhov: #fff;
    --timeline: #fff;
}

.dark-mode {
    --background: #221D16;
    --white: #fff;
    --grey: #c2c2c2;
    --brownText: #af9b8e;
    --section: #43372C;
    --collapsible: #372E24;
    --overlay: #2f261a;
    --imgborder: #4C3E33;
    --icon: rgb(228, 228, 228);
    --resume: #4C3E33;
    --resumehov: #43372C;
    --text: rgb(228, 228, 228, 0.87);
    --buttonhov: #000;
    --timeline: rgb(228, 228, 228, 0.87);
}

/* Scroll Bar Width */
::-webkit-scrollbar {
    scroll-behavior: smooth;
    height: calc(100% - 3em);
    overflow-y: auto;
    width: 10px;
    height: 10px;
}

/* Scroll Bar Track */
::-webkit-scrollbar-track {
    border: none;
    border-radius: 10px;
}

/* Scroll Bar Handle */
::-webkit-scrollbar-thumb {
    background: #846d62;  
    border-radius: 20px;
}

/* Scroll Bar Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--brownText);  
}

body {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    font-family: 'NanumS', sans-serif;
}

header {
    color: var(--white);
    padding: 5px;
    justify-content: center;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 100;
}

section{
    width: 100%;
    background-color: var(--background);
}
#menuBtn {
    display: none;
    position: fixed;
}

nav {
    color: var(--grey);
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 100;
    margin-top: 5px;
}
nav a {
    color: var(--grey);
    font-size: 24px;
    text-decoration: none;
    margin-right: 10px;
    padding: 5px;
    height: 40px;
    transition: font-size 0.2s ease; /* Add a smooth transition effect */
}

nav a:hover {
    font-size: 30px; /* Increase the font size on hover */
    color: var(--brownText);
}

/* Style for the active menu link (when the corresponding section is in view) */
nav a.active {
    font-size: 30px;
    color: var(--brownText);
}

/* Add a class for hiding the menu on mobile */
nav.menu-hidden {
    display: none;
}

/* Add the overlay styles */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay); /* Semi-transparent black overlay */
    z-index: 100; /* Set a higher z-index to make sure the overlay appears above the content */
    display: none; /* Hide the overlay by default */
}

main {
    padding: 20px;
    overflow: hidden;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Apply fade-in and fade-out animations to content sections */
.content-section {
    animation-duration: 0.5s;
}

.imgdesc {
    display: table;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
}

.img {
    display: table-cell;
    width: 30%;
    padding-left: 10px; 
    padding-right: 20px; 
}

.desc {
    display: table-cell;
    width: 70%; 
    padding-left: 20px; 
    padding-right: 10px; 
}

.desc h3{
    margin-block-start: 20px;
}

img{
    display: table-cell;
    width: 100%;
    border: solid var(--imgborder);
    border-width: 15px;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
    float: left;
    /* animation: slideInFromLeft 1s ease;  */
}

h2 {
    font-size: 48px;
    animation: slideInFromRight 1s ease; 
    margin: 20px 0px;
}

#highlight{
    color : brown;
    font-weight: bold;
}

desc{
    display: table-cell;
    width: 100%;
    float: right;
    font-family: 'Ridi', sans-serif;
    font-size: 16pt;
    line-height: 1.5;
    /* animation: slideInFromRight 1s ease; */
    color: var(--text);
}

.animated-section .img {
    opacity: 0;
    transform: translateX(-10%);
    transition: opacity 1s, transform 1s;
}

.animated-section .desc {
    opacity: 0;
    transform: translateX(10%);
    transition: opacity 1s, transform 1s;
}

.animated-section .img.temp-img {
    /* Styles for .desc */
    opacity: 0;
    transform: translateX(10%);
    transition: opacity 1s, transform 1s;
}

.animated-section .desc.temp-desc {
    /* Styles for .img */
    opacity: 0;
    transform: translateX(-10%);
    transition: opacity 1s, transform 1s;
}

.animated-section .img.visible {
    opacity: 1;
    transform: translateX(0);
}

.animated-section .desc.visible {
    opacity: 1;
    transform: translateX(0);
}

@keyframes smallToBig {
    0% {
        transform: scale(0.75);
    }
    100% {
        transform: scale(1);
    }
}

/* Styles for the image pop-up */
.img-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85); /* Darkened background */
    justify-content: center;
    align-items: center;
    z-index: 999; /* Ensure the pop-up is above other elements */
}

.img-popup img {
    width: auto;
    max-width: 90%;
    margin-top: 0px;
    height: auto;
    max-height: 90%;
    border-radius: 5px;
    border-width: 4px;
    background-color: var(--section);
    position: relative;
    animation: smallToBig 0.5s ease;
}

/* Style for darkened header background */
.header-dark-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.85);
    z-index: 998; /* Ensure the darkened background is below the pop-up */
}

.close-btn {
    position: absolute;
    top: 1%;
    right: 1%;
    color: rgb(228, 228, 228);
    cursor: pointer;
    font-size: 50px;
}

.close-btn:hover{
    color: white;
}

/* Define the animation for the image coming from the left */
@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

/* Define the animation for the description elements coming from the right */
@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}   

/* Define the animation for the description elements coming from the top */
@keyframes slideInFromTop {
    from {
        transform: translateY(-100%);
        display: none;
    }
    to {
        transform: translateY(0);
    }
}

.icons, .fticons {
    display: flex;
    justify-content: flex-end; /* Align the icons to the right side */
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 2; /* Ensure the icons appear above other elements */
}

/* Add spacing between the icons and remove underlines */
.icons a {
    margin-left: 10px;
    font-size: 36px;
    text-decoration: none; /* Remove underlines from the icons */
    color: rgb(228, 228, 228) !important;
}

.icons a:hover{
    color: white !important;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    color: #fff !important;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
    animation: fadeIn 1s ease;
}

.btn a{
    text-decoration: none;
}

.btn.btn-linkedin {
    background-color: #0A66C2;
    padding: 6px 8px;
}

.btn.btn-github {
    background-color: #000000;
}

.btn.btn-email {
    background-color: #EA4335;
}

.btn.btn-dark {
    background-color: #000;
}

name {
    top: 0%;
    left: 30px;
    z-index: 3; /* Ensure the icons appear above other elements */
    float: left;
    padding: 8px;
    font-size: 32px;
    font-family: 'NanumS', sans-serif;
    animation: fadeIn 1s ease;
}

a {
    text-decoration: none; /* Remove the underline */
    color: #846d62;
}

/* Style for hovered hyperlink text (anchors) */
a:hover {
    text-decoration: none; /* Add underline on hover */
}

name a {
    text-decoration: none; /* Remove the underline */
    color: #846d62;
}

.logo {
    top: 0%;
    left: 30px;
    z-index: 3; /* Ensure the icons appear above other elements */
}

.logo img {
    width: 50px; 
    height: auto;
    margin-top: 0px;
    border: none;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: none;
    float: left;
    animation: fadeIn 1s ease; 
}

.biglogo{
    width: 35%;
}

.biglogo img{
    margin-top: 100px;
    width: 100%;
    border: none;
    border-radius: 0%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: none;
    float: left;
    animation: slideInFromLeft 1s ease; 
}

#selfie {
    vertical-align: top;
}

#selfie img{
    margin-top: 30px;
}

#contact{
    display: none;
}

/* Add these styles for the desired layout */
.contact-icons {
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    animation: fadeIn 1s ease; 
}

.contact-icons a{
    margin-top: 0px;
    text-decoration: none !important
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-item .btn {
    margin-right: 10px;
    /* padding: 10px; */
}

.contact-item a{
    text-decoration: none;
}

.address {
    font-family: 'Ridi', sans-serif;
    font-size: 24px;
    justify-content: center;
    /* margin-top: 10px; */
    cursor: pointer;
    color: var(--text);
    vertical-align: middle;
    animation: fadeIn 1s ease; 
}

/* Common styles for the About section */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
    padding: 40px 0;
}

.resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    margin-top: 30px;
    font-size: 32px;
    font-family: 'Ridi', sans-serif;
    animation: slideInFromTop 1s ease; 
}

.btn-resume {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--resume);
    color: var(--white);
    text-decoration: none;
    border: none;
    border-radius: 4px;
    font-family: 'NanumS', sans-serif;
    text-align: center;
}

.btn-resume:hover {
    background-color: var(--resumehov);
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
    transform: translateY(-2px);
}

.btn-resume:active {
    box-shadow: none;
    transform: translateY(0);
}

.about-content {
    display: table;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}

ul {
    margin-block: 5px;
    padding-inline-start: 30px;
}

.education{
    display: table-cell;
    width: 49.5%;
    padding: 10px;
    background-color: var(--section);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
    animation: slideInFromLeft 1s ease; 
    color: var(--text);
}

.educations{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-family: 'Ridi', sans-serif;
    animation: fadeIn 1s ease;
}

/* CSS for category and content */
.edu, .tools {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    margin: 10px; 
    background-color: var(--collapsible);
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
    border-radius: 25px;
}
  
.edu img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    background-color: white;
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important;
}

.tools img{
    width: 50px;
    object-fit: cover;
    border-width: 2px;
    margin: 10px;
    background-color: white;
}

.tools h3{
    margin-block-start: 0px;
}

.tools .content h3{
    margin-block-start: 10px;
}

.skillTitle{
    display: flex;
    font-size: 28px;
    align-items: center;
}

.edu .content, .tools .content {
    font-family: 'Ridi', sans-serif;
    color: var(--text);
    width: 100%;
    height: auto;
    padding: 0px 10px 10px 10px;
    background-color: var(--collapsible);
    box-sizing: border-box;
    line-height: 1;
}

.courses{
    font-family: 'Ridi', sans-serif;
    display: table;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}

.courseContent{
    font-family: 'Ridi', sans-serif;
    color: var(--text);
    display: table-cell;
    width: 100%;
    line-height: 1.7;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 100px;
}

.skills{
    display: table-cell;
    width: 49.5%;
    padding: 15px;
    background-color: var(--section);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
    animation: slideInFromRight 1s ease; 
    line-height: 1.5;
    color: var(--text);
}

.skills h3{
    text-decoration: underline;
}

.skillLogos{
    display: flex;
    width: 100%;
    margin-top: 5px;
}

.skillLogoContainer{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: stretch;
    width: 100%;
    height: auto;
}

.skillLogoContainer:not(:has(.left)) .right {
    grid-column: 1 / -1;
    justify-content: flex-end;
}

.skillLogo{
    display: block;
    border-width: 2px;
    border-radius: 25px;
    box-shadow: none;
    background-color: #fff;
    margin-top: 3px;
    margin-right: 5px;
    width: auto;
}

.left .skillLogo{
    margin-right: 0px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    font-family: 'NanumS', sans-serif;
    visibility: hidden;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 7px 5px 7px;
    white-space: nowrap;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 10%;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 15%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(0,0,0,0.8) transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.left{
    grid-column: 1;
    font-size: 20px;
}

.right{
    display: grid;
    width: auto;
    height: auto;
    float: right;
    justify-items: end;
    font-style: italic;
}

.right p{
    margin: 3px !important;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.right .button {
    margin-left: 5px;
    margin-top: 5px;
}

.members p{
    font-weight: bold;
    text-align: left;
}

.education .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.education img, .edu img {
    display: block;
    width: 100%;
    margin-top: 0px;
    margin: 0 auto;
    border: none;
    border-width: 1px;
    border-radius: 0%;
    animation: none;
}

.education h3{
    text-align: center;
}

.topic{
    text-align: center;
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: 'Ridi', sans-serif;
    line-height: 1.2;
}

.collapsibleContent{
    background-color: var(--collapsible);
    border-radius: 25px;
    border: solid #000;
    border-width: 2px;
    margin: 20px 0px;
}

.collapsibleContent .content{
    color: var(--text);
    display: flex;
    width: 97%;
}

/*Remove default button design*/
button {
    font-family: 'Ridi', sans-serif;
	background: none;
	border: none;
	cursor: pointer;
	outline: inherit;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.collapsible {
    font-family: 'Ridi', sans-serif;
    color: var(--text);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 22px;
}

.collapsible:after {
    content: "➖";  /*2796*/
    font-size: 13px;
    color: var(--resume);
    float: right;
    margin-left: 5px;
}

.education .active:after {
    content: "➕";  /*2795*/
}

.skills .active:after {
    content: "➕";  /*2795*/
}
  
.content {
    padding: 0 18px;
    display: block;
    overflow: hidden;
    font-size: 20px;
    line-height: 1.5;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.content p{
    color: black;
}

.content h1{
    font-family: 'Ridi', sans-serif;
    line-height: 1.2;
    font-size: 20px;
    margin-block: 10px;
}

.content a{
    color: var(--text);
    text-decoration: underline;
}

.content a:hover{
    text-decoration: none;
    color: #846d62;
    font-weight: bold;
}

.timeline {
    margin-top: 50px;
    position: relative;
    white-space: nowrap;
    display: grid;
    animation: fadeIn 1s ease;
}

.timeline ol {
    font-size: 0;
    padding: 300px 0;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.timeline #experience{
    padding: 100px 0px 380px 0px;
}

.timeline #awards{
    padding: 150px 0px 350px 0px;
}

.timeline ol li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 250px;
    height: 3px;
    background: #846d62;
    scroll-snap-align: start;
}

.timeline ol li:first-child {
    margin-left: 10px;
    width: 50px;
}

.timeline ol li:last-child {
    width: 340px;
}

.timeline ol li:not(:first-child) {
    margin-left: 10px;
}
  
.timeline ol li:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(100% + 1px);
    bottom: 0;
    width: 8px;
    height: 8px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #846d62;
    z-index: 1;
}
  
.timeline .indexGroup,
.timeline .indexPersonal {
    position: absolute;
    left: calc(100% + 7px);
    width: 250px;
    font-size: 1rem;
    white-space: normal;
    color: black;
    background: var(--timeline);
    border-radius: 0 10px 10px 10px;

    display: inline-block;
    box-sizing: border-box;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
}

.timeline .indexGroup img,
.timeline .indexPersonal img {
    display: block;
    width: 100%;
    margin: 0;
    object-fit: cover;
    background-color: var(--timeline);
    border-width: 0px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: none;
}

.timeline .indexGroup .info,
.timeline .indexPersonal .info {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 1rem;
    color: black !important;
    border-radius: 0 10px 10px 10px;
}

.timeline .indexGroup .info p,
.timeline .indexPersonal .info p{
    margin-block: 0px;
}

.timeline .indexGroup::before,
.timeline .indexPersonal::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
}
  
.timeline .indexGroup {
    top: -16px;
    transform: translateY(-100%);
    border-radius: 10px 10px 10px 0;
}
  
.timeline .indexGroup::before {
    top: 100%;
    border-width: 8px 8px 0 0;
    border-color: var(--timeline) transparent transparent transparent;
}
  
.timeline .indexPersonal {
    top: calc(100% + 16px);
}
  
.timeline .indexPersonal::before {
    top: -8px;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent var(--timeline);
}
  
.timeline time {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    margin: 5px 0px;
    color: brown;
}

h3{
    font-family: 'Ridi', sans-serif;
    font-size: 24px;
    margin-bottom: 9px;
}

li{
    font-family: 'Ridi', sans-serif;
    line-height: 1.7;
    font-size: 20px;
}

.desc h3{
    font-size: 28px;
    text-align: center;
}

.desc p{
    margin: 5px 0px;
}

.desc a{
    color: var(--text);
    text-decoration: underline;
    font-weight: bold;
}

.desc a:hover{
    text-decoration: none;
    color: #846d62;
}

.text p{
    line-height: 1.5;
    margin-bottom: 15px;
    font-style: normal;
    text-align: left;
    margin-bottom: 10px;
}

.img img{
    margin: 5px 10px 10px 10px;
    display: table-cell;
    width: 100%;
    border: solid var(--imgborder);
    border-width: 4px;
    border-radius: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--section);
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
    float: left;
    animation: slideInFromLeft 1s ease; 
    cursor: zoom-in;
}

.sect {
    display: none;
}

.buttons{
    margin-left: auto;
    margin-right: 0;
}

.button{
    border: 2px solid var(--text);
    border-radius: 30px;
    box-sizing: border-box;
    
    background-color: transparent;
    color: var(--text);
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0px;
    
    height: 35px;
    padding-top: 3px;
    padding-bottom: 3px;
    transition: all 0.3s;
    display: inline-block;
}

.button:hover{
    color: var(--buttonhov);
    background-color: var(--text);
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2),0 10px 10px 0 rgba(0,0,0,0.2);
    transform: translateY(-2px);
}

.button:active {
    box-shadow: none;
    transform: translateY(0);
}

.buttons a{
    text-decoration: none;
}
.projsect, .skillsect{
    text-align: center;
    position: relative;
    display: block;
    margin-top: 60px;
}

.skillsect {
    margin-top: 60px;
    margin-bottom: 35px;
}

.projsect-text, .skillsect-text{
    font-family: 'NanumS', sans-serif;
    background-color: var(--background);
    padding: 0 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 24px;
    color: var(--text);
}

.projsect-line, .skillsect-line {
    width: 100%;
    border: none;
    border-top: 2px solid var(--text);
}

footer {
    background-color: var(--imgborder);
    color: var(--white);
    text-align: left;
    padding: 10px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

button#backToTopBtn {
    background-color: transparent;
    color: rgb(228, 228, 228);
    border: none;
    font-size: 24px;
    cursor: pointer;
}

button#backToTopBtn:hover {
    color: white;
}

.footicons{
    display: none;
}

.allCategories{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.category {
    display: inline-flex;
    box-sizing: border-box;
    width: 30%;
    background-color: var(--background);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes rotate {
    0% {
        width: 0%;
        transform: rotate(-180deg);
    }
    60% {
        width: 120%;
    }
    100% {
        width: 100%;
        transform: rotate(-360deg);
    }
}

.category img {
    width: 100%;
    height: auto;
    object-fit: cover;
    background-color: white;
    border-width: 5px;
    margin-top: 60px;
    animation: rotate 1.5s linear;
}

.category .content {
    width: 100%;
    height: auto;
    margin: 20px;
    background-color: var(--background);
    box-sizing: border-box;
    line-height: 1.5;
    border: none;
    text-align: center;
    padding: none;
}

.category .content .resume{
    margin-top: 20px;
    width: 100%;
    height: auto;
}

.category .content a{
    text-decoration: none;
}

#redirect{
    display: none;
    animation-delay: 1s;
    animation: slideInFromTop 1s ease; 
}

/* Styles for tablets (screen sizes between 768px and 1023px) */
@media (min-width: 768px) and (max-width: 1200px) {
    .imgdesc{
        display: flex;
        flex-wrap: wrap;
        margin-top: 70px;
    }

    .img{
        display: flex;
        flex-direction: row;
        width: 100%;
        order: 1;
        margin-top: 0px;
        gap: 1%;
        justify-content: center;
        padding-left: 0px;
        padding-right: 0px;
    }

    .img img{
        border-width: 3px;
        width: 48%;
        height: auto;
        margin: 20px 0px 0px 0px;
    }

    .desc{
        display: flex;
        width: 100%;
        order: 2;
        padding-left: 0px;
        padding-right: 0px;
    }

    img{
        width: 100%;
        border-radius: 50%;
        position: relative;
        margin-top: 40px;
    }
        
    nav {
        width: 100%;
    }    

    .about-content{
        margin-top: 70px;
    }

    .contact-icons {
        margin-top: 10px;
    }
    
    .resume {
        margin-top: 70px;
    }

    .img-popup img {
        height: auto;
    }
    .timeline ol {
        padding: 360px 0 300px 0;
    }    
    .timeline #experience{
        padding: 120px 0px 380px 0px;
    }    
    .timeline #awards{
        padding: 190px 0px 350px 0px;
    }

    .educations{
        display: table;
        justify-items: start;
    }
    
    .edu, .tools {
        display: block;
        margin-left: 15px;
        width: 96%;
        margin-bottom: 20px;
    }
    
    .edu img {
        height: 350px;
    }

    .collapsibleContent .content{
        display: flex;
        flex-direction: column;
        width: 100%;
    }    
    .skillsect {
        margin-top: 110px;
        margin-bottom: 35px;
    }    
}

@media (min-width: 768px) and (max-width: 1023px) {
    .category{
        width: 50%;
        height: auto;
    }
    .skillsect {
        margin-top: 110px;
        margin-bottom: 35px;
    }    
}

/* Media query for mobile-friendly styles */
@media (max-width: 767px) {
    header{
        position: fixed;
        background-color: var(--background);
        height: 40px;
        padding: 10px;
        display: inline-flex;
        z-index: 2;
    }

    /* Show the menu button and hide the menu initially */
    #menuBtn {
        display: block;  
        border: none;
        font-size: 24px;
        color:  #846d62;
        background-color: var(--background);
        cursor: pointer;
        float: left;
        left: 3%;
        width: 30px;
        z-index: 2;
    }
    
    #links{
        display: contents;
    }
      
    @keyframes openNav {
        0%{
            height: 60px;
            opacity: 0;
        }

        100%{
            height: 250px;
            opacity: 1;
        }
    } 

    /* Position the menu container */
    nav {
        position: fixed;
        top: 54px;
        left: 0;
        width: 100%;
        text-align: center;
        background-color: var(--overlay);
        z-index: 1;
        display: none; /* Hide the menu by default */
        animation: openNav 0.25s ease-out;
        box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
    }
    
    nav, nav a {
        font-size: 24px;
    }

    nav a{
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        margin-right: 0;
    }

    nav a:hover {
        color: var(--brownText);
        font-size: 30px;
    }
    
    /* Style for the active menu link (when the corresponding section is in view) */
    nav a.active {
        font-size: 30px;
        color: var(--brownText);
    }
    
    /* Show the menu items when the menu is visible */
    nav.menu-visible {
        display: flex;
        flex-direction: column;
        z-index: 1;
        align-items: flex-start;
        padding-left: 20px;
    }

    /* Add a class for hiding the menu on mobile */
    nav.menu-hidden {
        display: none;
    }
    
    /* Show the menu dropdown when hovering over the menu on mobile */
    nav:hover .menu-dropdown {
        display: block;
    }

    .collapsible{
        font-size: 20px;
    }

    /* Show the overlay when the menu is visible */
    .overlay.overlay-visible {
        display: block;
        z-index: 3;
    }

    .timeline ol {
        padding: 250px 0;
    }

    .timeline #experience {
        padding: 150px 0px 330px 0px;
    }

    .timeline #awards {
        padding: 150px 0px 280px 0px;
    }

    .timeline ol li {
        width: 160px;
    }
    
    .timeline ol li:first-child {
        width: 20px;
    }    

    .timeline ol li:last-child{
        width: 200px;
    }

    .timeline .indexGroup .info,
    .timeline .indexPersonal .info,
    .timeline time {
        font-size: 13px;
    }

    .timeline .indexGroup, .timeline .indexPersonal{
        width: 150px;
    }

    .imgdesc{
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .img{
        display: flex;
        flex-direction: column;
        width: 100%;
        order: 1;
        padding-left: 0px;
        padding-right: 0px;
    }

    .img img{
        border-width: 3px;
        margin: 20px 0px 0px 0px;
    }

    .desc{
        display: flex;
        width: 100%;
        order: 2;
        padding-left: 0px;
        padding-right: 0px;
    }

    img{
        width: 100%;
        border-radius: 50%;
        position: relative;
    }

    .biglogo img{
        width: 70%;
        border-radius: 50%;
        position: absolute;
        margin-top: 40px;
    }

    desc{
        font-family: 'Ridi', sans-serif;
        font-size: 18px;
        width: 100%;
        position: relative;
        /* padding-bottom: 20px; */
        line-height: 1.5;
    }    

    desc .left{
        font-size: 18px;
    }

    .button{
        font-size: 16px;
        margin-top: 5px;
    }
    
    h2 {
        font-size: 32px;
        width: 90%;
    }
    
    /* Logo centered on top for mobile devices */
    .logo {
        top: 5px;
        z-index: 3; /* Ensure the icons appear above other elements */
    
        display: table;
        position: fixed;
        left: 12%;
    }

    .logo img {
        height: auto;
        box-shadow: none;
        float: right;
    }

    #myLogo{
        display: table-cell;
        vertical-align: top;
    }

    .icons {
        display: none;
    }

    name{
        top: 5px;
        z-index: 3; /* Ensure the icons appear above other elements */
    
        display: table-cell;
        left: 24%;
    }
    
    .biglogo{
        width: 35%;
    }
    
    .biglogo img{
        margin-top: 40px;
        width: 60%;
        float: left;
    }
    
    /* Add these styles for the desired layout */
    .contact-icons {
        /* margin-top: 100%; */
        margin-left: 0px;
        font-size: 32px;
    }
    
    .contact-icons a{
        margin-top: 10px;
    }
    
    .contact-item {
        width: 90%;
    }
    
    .address {
        width: 90%;
        font-size: 18px;
        /* margin-top: 10px; */
    }
    .about-content{
        margin-top: 20px;
        flex-direction: column;
        background-color: none;
    }

    .education,
    .skills {
        display: table-row;
        width: fit-content;
        justify-content: center;
        align-items: center; /* Center vertically */
        box-shadow: none;
        border-radius: 0px;
        border: none;
        background-color: var(--background);
        position:relative;
    }

    .educations{
        display: table;
        justify-items: start;
    }
    
    .edu, .tools {
        display: block;
        margin-left: 0px;
        width: 100%;
        margin-bottom: 20px;
    }
    
    .edu img {
        height: 200px;
    }

    .collapsibleContent .content{
        display: flex;
        flex-direction: column;
        width: 90%;
    }    

    ul, li{
        font-size: 18px;
    }

    .resume {
        left: 0%;
        font-size: 24px;
        position: relative;
        margin-top: 20px;
    }

    .education .image-container {
        width: 100%;
        position: relative;
        margin-bottom: 0px;
    }

    .topic{
        display: none;
        font-size: 28px;
        margin-bottom: 10px;
        text-align: left;
        text-decoration: underline;
    }
    .skills h3{
        font-size: 20px;
        margin: 0;
        padding: 0;
    }
    .resume h2 {
        font-size: 28px;
        font-family: 'Ridi', sans-serif;
        animation: slideInFromLeft 1s ease; 
    }

    .sect{
        text-align: center;
        position: relative;
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
        color: var(--text);
    }
    
    .sect-text {
        font-family: 'NanumS', sans-serif;
        background-color: var(--background);
        padding: 0 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        font-size: 28px;
    }

    .sect-line {
        width: 100%;
        border: none;
        border-top: 2px solid var(--text);
        margin: 0;
    }

    .projsect, .skillsect{
        text-align: center;
        position: relative;
        display: block;
    }
    
    .projsect-text, .skillsect-text{
        font-size: 24px;
    }

    .skillsect {
        margin-top: 70px;
        margin-bottom: 35px;
    }    

    .skillLogoContainer{
        display: flow-root;
    }

    .footicons{
        font-size: 32px;
        display: flex;
        justify-content: start;
        align-items: center;
        margin-top: 10px;
        padding: 0 20px;
        color: white;
    }

    .footicons .btn {
        margin-right: 10px;
    }
    
    .category {
        width: 80%;
        height: auto;
    }

    .img-popup img {
        max-width: 80%;
        height: auto;
    }

    .close-btn {
        right: 3%;
    }    
}