@font-face{
    font-family: 'NanumB';
    src: url('fonts/NanumBarunGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'NanumS';
    src: url('fonts/NanumSquareRoundB.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Add your desktop-friendly styles here */
body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #f9ecdb;
    font-family: 'NanumS', sans-serif;
}

header {
    /* background-color: #57b5dc; */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    color: #fff;
    padding: 10px;
    justify-content: center;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 100;
}

section{
    width: 100%;
    background-color: #f9ecdb;
}
#menuBtn {
    display: none;
    position: fixed;
}

nav {
    /* background-color: #57b5dc; */
    color: #a8a29c;
    /* padding: 10px; */
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
nav a {
    color:#a8a29c;
    font-size: 28px;
    text-decoration: none;
    margin-right: 20px;
    padding: 5px;
    height: 40px;
    transition: font-size 0.2s ease; /* Add a smooth transition effect */
}

nav a:hover {
    font-size: 36px; /* Increase the font size on hover */
    color: #AF9B8E;
}

/* Style for the active menu link (when the corresponding section is in view) */
nav a.active {
    font-size: 36px;
    color: #AF9B8E;
}

/* Add a class for hiding the menu on mobile */
nav.menu-hidden {
    display: none;
}

/* Add the overlay styles */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 100; /* Set a higher z-index to make sure the overlay appears above the content */
    display: none; /* Hide the overlay by default */
}

main {
    padding: 20px;
}

/* Hide all sections except the home section by default */
section:not(:first-of-type) {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Apply fade-in and fade-out animations to content sections */
.content-section {
    animation-duration: 0.5s;
}

/* Hide all sections except the home section by default */
section:not(:first-of-type) {
    display: none;
}

img{
    margin-top: 100px;
    width: 35%;
    border: solid #846d62;
    border-width: 15px;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2),0 20px 20px 0 rgba(0,0,0,0.2);
    float: left;
    animation: slideInFromLeft 1s ease; 
}

h2 {
    font-size: 64px;
    animation: slideInFromRight 1s ease; 
}

desc{
    margin-top: 100px;
    width: 57%;
    float: right;
    font-family: 'NanumB', sans-serif;
    font-size: 28px;
    line-height: 1.5;
    animation: slideInFromRight 1s ease; 
}

/* Define the animation for the image coming from the left */
@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

/* Define the animation for the description elements coming from the right */
@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}   

.icons {
    display: flex;
    justify-content: flex-end; /* Align the icons to the right side */
    /* margin-top: 20px; */
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 2; /* Ensure the icons appear above other elements */
}

/* Add spacing between the icons and remove underlines */
.icons a {
    margin-left: 10px;
    font-size: 36px;
    text-decoration: none; /* Remove underlines from the icons */
    color: rgb(228, 228, 228);
}

.icons a:hover{
    color: white;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

/* Style for the LinkedIn button */
.btn.btn-linkedin {
    background-color: #0A66C2;
    padding: 6px 6px 6px 6px;
}

/* Style for the GitHub button */
.btn.btn-github {
    background-color: #000000;
}

/* Style for the Email button */
.btn.btn-email {
    background-color: #EA4335;
}

name {
    top: 0%;
    left: 30px;
    z-index: 3; /* Ensure the icons appear above other elements */
    float: left;
    padding: 10px 10px;
    font-size: 32px;
    font-family: 'NanumS', sans-serif;
}

a {
    text-decoration: none; /* Remove the underline */
    color: #846d62; /* Set the text color to #846d62 */
}

/* Style for hovered hyperlink text (anchors) */
a:hover {
    text-decoration: none; /* Add underline on hover */
}

name a {
    text-decoration: none; /* Remove the underline */
    color: #846d62; /* Set the text color to #846d62 */
}

.logo {
    top: 0%;
    left: 30px;
    z-index: 3; /* Ensure the icons appear above other elements */
}

.logo img {
    width: 50px; /* Adjust the width of the logo image as needed */
    height: auto; /* Maintain the aspect ratio of the logo */
    margin-top: 0px;
    border: none;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: none;
    float: left;
    animation: slideInFromLeft 1s ease; 
}

.biglogo{
    width: 35%;
}

.biglogo img{
    margin-top: 100px;
    width: 100%;
    border: none;
    border-radius: 0%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: none;
    float: left;
    animation: slideInFromLeft 1s ease; 
}

/* Add these styles for the desired layout */
.contact-icons {
    margin-top: 140px;
    margin-left: 60px;
    float: left;
    flex-direction: column;
    justify-content: center;
    font-size: 72px;
    animation: slideInFromRight 1s ease; 
}

.contact-icons a{
    margin-top: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-item .btn {
    margin-right: 10px;
    padding: 10px;
}

.address {
    font-family: 'NanumB', sans-serif;
    font-size: 36px;
    justify-content: center;
    margin-top: 20px;
    cursor: pointer;
    color: black;
    animation: slideInFromRight 1s ease; 
}

/* Common styles for the About section */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9ecdb;
    padding: 40px 0;
}

.resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    margin-top: 25px;
    font-size: 32px;
    font-family: 'NanumB', sans-serif;
    margin-right: 10px;
    animation: slideInFromLeft 1s ease; 
}

.resume-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.btn-resume {
    display: inline-block;
    padding: 10px 20px;
    background-color: #846d62;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    font-family: 'NanumS', sans-serif;
    text-align: center;
    animation: slideInFromRight 1s ease; 
}

.btn-resume:hover {
    background-color: #5c4c41;
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 85%;
    margin: 0 auto;
}

.education{
    width: 100%;
    padding: 10px;
    background-color: #AF9B8E;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
    animation: slideInFromLeft 1s ease; 
}

.skills{
    width: 100%;
    padding: 15px;
    background-color: #AF9B8E;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
    animation: slideInFromRight 1s ease; 
    line-height: 1.5;
}

.skills img{
    display: block;
    width: auto;
    max-width: 100%;
    height: 20px;
    margin-top: 0px;
    margin: 0 auto;
    border: none;
    border-width: 1px;
    border-radius: 0%;
    animation: none;
    margin: 3px; 
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
}

.education .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.education img {
    display: block;
    width: 100%;
    margin-top: 0px;
    margin: 0 auto;
    border: none;
    border-width: 1px;
    border-radius: 0%;
    animation: none;
}

.topic{
    text-align: center;
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: 'NanumB', sans-serif;
    line-height: 1.2;
}

.section-interval {
    width: 4%; /* Adjust the width of the interval as needed */
}

h3{
    font-family: 'NanumB', sans-serif;
    font-size: 24px;
    margin-bottom: 9px;
}

li{
    font-family: 'NanumB', sans-serif;
    line-height: 1.7;
    font-size: 20px;
}

/* Media query for mobile-friendly styles */
@media (max-width: 767px) {
    header{
        position: fixed;
        background-color: #f9ecdb;
        height: 40px;
        width: 100%;
    }
    body {
        width: 90%;
    }

    section{
        width: 90%;
    }

    main {
        width: 90%;
    }

    /* Show the menu button and hide the menu initially */
    #menuBtn {
        display: block;  
        border: none;
        font-size: 24px;
        color:  #846d62;
        background-color: #f9ecdb;
        cursor: pointer;
        /* padding: 10px; */
        /* position: fixed; */
    }
    
    /* Position the menu container */
    nav {
        position: fixed;
        padding: 20px 0px 0px 0px;
        top: 50px; /* Adjust this value to control the vertical position of the menu */
        width: 95%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 2;
        display: none; /* Hide the menu by default */
    }
    
    nav a {
        font-size: 20px;
    }

    nav a:hover {
        font-size: 24px; /* Increase the font size on hover */
        color: #846d62;
    }
    
    /* Style for the active menu link (when the corresponding section is in view) */
    nav a.active {
        font-size: 24px;
        color: #846d62;
    }
    
    /* Show the menu items when the menu is visible */
    nav.menu-visible {
        display: flex;
        flex-direction: column;
        z-index: 3; /* Ensure the menu appears above the overlay */
    }
    /* Add a class for hiding the menu on mobile */
    nav.menu-hidden {
        display: none;
    }
    
    /* Show the menu dropdown when hovering over the menu on mobile */
    nav:hover .menu-dropdown {
        display: block;
    }

    /* Show the overlay when the menu is visible */
    .overlay.overlay-visible {
        display: block;
        z-index: 3;
    }

    img{
        width: 70%;
        border-radius: 50%;
        position: absolute;
        margin-top: 40px;
        z-index: -1;
    }
    
    h2 {
        font-size: 32px;
        width: 90%;
    }
    
    desc{
        font-family: 'NanumB', sans-serif;
        font-size: 20px;
        width: 90%;
        position: absolute;
        top: 320px; /* Position the element at the middle of the container */
        padding-bottom: 20px;
        line-height: 1.5;
    }    
    /* Logo centered on top for mobile devices */
    .logo {
        top: 5px;
        z-index: 3; /* Ensure the icons appear above other elements */
    
        display: flex;
        justify-content: flex-end; /* Align the icons to the right side */
        /* margin-top: 20px; */
        position: fixed;
        right: 17%;
        z-index: 2; /* Ensure the icons appear above other elements */
    }

    .logo img {
        width: 50px; /* Adjust the width of the logo image as needed */
        height: auto; /* Maintain the aspect ratio of the logo */
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: none;
        float: right;
        animation: slideInFromRight 1s ease; 
    }

    .icons {
        display: none;
    }

    name{
        display: none;
    }
    
    .biglogo{
        width: 35%;
    }
    
    .biglogo img{
        margin-top: 40px;
        width: 60%;
        float: left;
    }
    
    /* Add these styles for the desired layout */
    .contact-icons {
        margin-top: 100%;
        margin-left: 0px;
        font-size: 32px;
    }
    
    .contact-icons a{
        margin-top: 10px;
    }
    
    .contact-item {
        width: 90%;
    }
    
    .address {
        width: 90%;
        font-size: 20px;
        margin-top: 10px;
    }
    .about-content {
        flex-direction: column;
    }

    .education,
    .skills {
        width: 120%;
        justify-content: center;
        align-items: center; /* Center vertically */
    }

    ul, li{
        font-size: 18px;
        line-height: 1.8;
    }

    .resume {
        width: 90%;
        align-items: flex-start;
        font-size: 18px;
        margin-left: 22px;
    }

    .education img{
        display: none;
    }

    .section-interval {
        display: none; /* Hide the interval on mobile */
    }
    .topic{
        font-size: 20px;
    }
    .resume h2 {
        font-size: 28px;
        font-family: 'NanumB', sans-serif;
        animation: slideInFromLeft 1s ease; 
    }
}

/* Styles for tablets (screen sizes between 768px and 1023px) */
@media (min-width: 768px) and (max-width: 1080px) {
    nav {
        width: 100%;
    }    

    .contact-icons {
        margin-top: 0px;
    }    

    img{
        margin-top: 120px;
    }
    
    .resume {
        margin-top: 50px;
    }
}