body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 30px;
}

h1 {
    margin-bottom: 20px;
}

label {
    font-size: 18px;
}

input {
    width: 40px;
    height: 25px;
    font-size: 18px;
}

button {
    margin-left: 10px;
    font-size: 18px;
    padding: 5px 10px;
}

#board {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(var(--size), 40px);
    margin: 20px auto; /* Center the board horizontally */
    justify-content: center; /* Center the grid items horizontally within the grid */
}

.cell {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
}

.cell[aria-checked="true"] {
    background-color: #ffcc66;
}

.info {
    border: 1px dotted #000000;
    padding: 20px 20px 5px 20px;
    margin: auto auto;
    width: 1100px;
    border-radius: 8px;
    border-width: 5px;
    justify-content: center;
}
